.timebox{
    float: left;
}
.tpdiv{
    float: none;
}
.slt_type{
    line-height: 1em;
    padding: 3px 15px;
}
.datatable{
    overflow: scroll;
}
.tdiv1{
    min-width: 1024px;
}
.tdiv2{
    overflow:auto;
    width: 100%;
}