{% extends "base.html" %}
{% block langmeta %}<meta id="i18n_pagename" content="base-parentinfo">{% endblock %}
{% block title %}<title i18nkey='title_addp'></title>{% endblock %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static',filename='css/index.css') }}">
<link rel="stylesheet" href="{{ url_for('static',filename='css/forms.css') }}">
<style>
.statustb tr:nth-child(odd){
    background-color: #bfb;
}
</style>
{% endblock %}

{% block content %}
<div class="layui-card layui-col-xs12 layui-col-sm8 layui-col-sm-offset2 mainpanel">
    <div class="layui-card-body">
        <div class="layui-col-xs12 layui-col-sm10 layui-col-sm-offset1 formbox">
            <div class="formtip">
                <h1 i18nkey='inserttitle'></h1>
            </div>
            <form class="layui-form" action="addparent" accept-charset="UTF-8" method="POST">
                {% if errormsg %}
                    <div class="layui-form-item">
                        <label class="layui-form-label errorlabel"><i class="layui-icon layui-icon-close-fill"></i>{{errormsg}}</label>
                    </div>
                {% endif %}
                <div class="layui-form-item">
                    <label class="layui-form-label"><i class="fa fa-user-o">&nbsp;<span i18nkey='username_n'></span></i></label>
                    <input type="text" id="username" autocomplete="off" required lay-verify="required_i18n" class="layui-input" i18nkey='username_p' i18nattr='placeholder'>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><i class="fa fa-user-o">&nbsp;<span i18nkey='name_n'></span></i></label>
                    <input type="text" id="name" required lay-verify="required_i18n" lay-verify="" class="layui-input"  i18nkey='name_p' i18nattr='placeholder'>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><i class="fa fa-user-o">&nbsp;<span i18nkey='name_chi_n'></span></i></label>
                    <input type="text" id="name_chi" required lay-verify="required_i18n" lay-verify="" class="layui-input"  i18nkey='name_chi_p' i18nattr='placeholder'>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><i class="fa fa-graduation-cap">&nbsp;<span i18nkey='edu_n'></span></i></label>
                    <input type="text" id="edu" required lay-verify="required_i18n" lay-verify="" class="layui-input"  i18nkey='edu_p' i18nattr='placeholder'>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><i class="fa fa-briefcase">&nbsp;<span i18nkey='occupation_n'></span></i></label>
                    <input type="text" id="occupation" required lay-verify="required_i18n" lay-verify="" class="layui-input"  i18nkey='occupation_p' i18nattr='placeholder'>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><i class="fa fa-phone">&nbsp;<span i18nkey='tel_n'></span></i></label>
                    <input type="text" id="tel" required lay-verify="required_i18n" lay-verify="" class="layui-input"  i18nkey='tel_p' i18nattr='placeholder'>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><i class="fa fa-envelope-o">&nbsp;<span i18nkey='email_n'></span></i></label>
                    <input type="text" id="email" required lay-verify="required_i18n" class="layui-input"  i18nkey='email_p' i18nattr='placeholder'>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><i class="fa fa-question-circle-o">&nbsp;<span i18nkey='reason_n'></span></i></label>
                    <input type="text" id="reason" required lay-verify="required_i18n" class="layui-input" i18nkey='reason_p' i18nattr='placeholder'>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><i class="fa fa-key">&nbsp;<span i18nkey='passwd_n'></span></i></label>
                    <input type="password" id="passwd" autocomplete="off" required lay-verify="required_i18n" class="layui-input" i18nkey='passwd_p' i18nattr='placeholder'>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><i class="fa fa-venus-mars">&nbsp;<span i18nkey='parent_allow_n'></span></i></label>
                    <input type="text" id="parent_allow" required lay-verify="required_i18n" class="layui-input"  i18nkey='parent_allow_p' i18nattr='placeholder'>
                <div class="layui-form-item">
                    <button id='smbtn1' class="layui-btn subbtn" lay-submit lay-filter="sign"><i
                            class="fa fa-arrow-circle-o-up " style="font-size:1em;">&nbsp;<span i18nkey='submit'></span></i></button>
                </div>
                
                    
            </form>
        </div>
    </div>
</div>
{% endblock %}
{% block thisnav %}"nav-index"{% endblock %}
{% block nextscript %}
<script src="{{ url_for('static',filename='js/md5.js') }}"></script>
<script src="{{ url_for('static',filename='js/funcs.js') }}"></script>
<script>
layui.use('form', function () {
        var form = layui.form;
        //监听提交
        form.on('submit(sign)', function (data) {
            $($('#smbtn1')[0]).attr('disabled',true);
            // check username
            var _un = $($('#username')[0]).val();
            var _ep="/api/checkUsername";
            var _unexists = false;
            $.ajax({
                async:false,
                url:_ep,
                type:'GET',
                data:{'username':_un},
                success:function(data){
                    if(data['code']==0 && data['data'].length>0){
                        if(data['data'][0]['exists']!=0){
                            _unexists=true;
                        }
                    }
                }
            });
            if(_unexists){
                alert('Username already exists!');
                $($('#smbtn1')[0]).removeAttr('disabled');
                return false;
            }
            var flist=['username','name','name_chi','edu','occupation','tel','email','reason','parent_allow'];
            var keys=[];
            var params = {
                'secret_key': getCookie('secret_key')
            };
            var flen = flist.length;
            for(var _fi=0; _fi<flen; _fi++){
                var ds = $('#'+flist[_fi]);
                if(ds!=null && ds.length>0){
                    ds = $(ds[0]);
                    if(ds.val()!=null && ds.val()!=''){
                        keys.push(flist[_fi]);
                        params[flist[_fi]] = ds.val();
                    }
                }
            }
            var _pw = $($('#passwd')[0]).val();
            params['passwd_md5'] = hex_md5($($('#passwd')[0]).val());
            keys.push('passwd_md5');
            keys.push('secret_key');
            params['keys'] = keys.join(',');
            params = sign(params);
            var _ep2 = '/api/users/parent';
            $.ajax({
                async:true,
                url:_ep2,
                type:'POST',
                data:params,
                success:function(data){
                    if(data['code']==0){
                        alert('Add parent successfully!');
                        window.location.href="/addparent";
                    }
                    else{
                        alert('Add parent failed!\nmsg: '+data['msg']);
                    }
                    $($('#smbtn1')[0]).removeAttr('disabled');
                },
                error:function(xhr,status,error){
                    alert('Error: '+status.toString());
                    $($('#smbtn1')[0]).removeAttr('disabled');
                }
            });
            return false;
        });
        //定义验证
        form.verify(verifiesdef);
    });
</script>
{% endblock %}