{% extends "base.html" %}
{% block langmeta %}<meta id="i18n_pagename" content="base-parentinfo">{% endblock %}
{% block title %}<title i18nkey='title_addc'></title>{% endblock %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static',filename='css/index.css') }}">
<link rel="stylesheet" href="{{ url_for('static',filename='css/forms.css') }}">
<style>
.statustb tr:nth-child(odd){
    background-color: #bfb;
}
</style>
{% endblock %}

{% block content %}
<div class="layui-card layui-col-xs12 layui-col-sm8 layui-col-sm-offset2 mainpanel">
    <div class="layui-card-body">
        <div class="layui-col-xs12 layui-col-sm10 layui-col-sm-offset1 formbox">
            <div class="formtip">
                <h1 i18nkey='altptitle'></h1>
            </div>
            <form class="layui-form" action="addchild" accept-charset="UTF-8" method="POST">
                {% if errormsg %}
                    <div class="layui-form-item">
                        <label class="layui-form-label errorlabel"><i class="layui-icon layui-icon-close-fill"></i>{{errormsg}}</label>
                    </div>
                {% endif %}
                <div class="layui-form-item">
                    <label class="layui-form-label"><i class="fa fa-user-o">&nbsp;<span i18nkey='id_n'></span></i></label>
                    <input type="text" id="id" autocomplete="off" required lay-verify="required_i18n" class="layui-input" readonly value='{{cid}}'>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><i class="fa fa-user-o">&nbsp;<span i18nkey='child_no_n'></span></i></label>
                    <input type="text" id="child_no" autocomplete="off" required lay-verify="required_i18n" class="layui-input" i18nkey='child_no_p' i18nattr='placeholder'>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><i class="fa fa-user-o">&nbsp;<span i18nkey='name_n'></span></i></label>
                    <input type="text" id="name" lay-verify="" class="layui-input"  i18nkey='name_p' i18nattr='placeholder'>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><i class="fa fa-user-o">&nbsp;<span i18nkey='name_chi_n'></span></i></label>
                    <input type="text" id="name_chi" lay-verify="" class="layui-input"  i18nkey='name_chi_p' i18nattr='placeholder'>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><i class="fa fa-venus-mars">&nbsp;<span i18nkey='gender_n'></span></i></label>
                    <select id="gender_slt" lay-verify="" lay-filter='gender_slt'>
                        <option value="1" i18nkey='male'></option>
                        <option value="2" i18nkey='female'></option>
                    </select>
                    <input type="hidden" id='gender_id' value='1'>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><i class="fa fa-rebel">&nbsp;<span i18nkey='religion_n'></span></i></label>
                    <input type="text" id="religion" lay-verify="" class="layui-input"  i18nkey='religion_p' i18nattr='placeholder'>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><i class="fa fa-id-card-o">&nbsp;<span i18nkey='birth_cert_no_n'></span></i></label>
                    <input type="text" id="birth_cert_no" lay-verify="" class="layui-input"  i18nkey='birth_cert_no_p' i18nattr='placeholder'>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><i class="fa fa-birthday-cake">&nbsp;<span i18nkey='born_day_n'></span></i></label>
                    <input type="text" id="born_day" lay-verify="" class="layui-input"  i18nkey='born_day_p' i18nattr='placeholder'>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><i class="fa fa-map-marker">&nbsp;<span i18nkey='place_birth_n'></span></i></label>
                    <input type="text" id="place_birth" lay-verify="" class="layui-input"  i18nkey='place_birth_p' i18nattr='placeholder'>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><i class="fa fa-compass">&nbsp;<span i18nkey='address_n'></span></i></label>
                    <input type="text" id="address" lay-verify="" class="layui-input"  i18nkey='address_p' i18nattr='placeholder'>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><i class="fa fa-birthday-cake">&nbsp;<span i18nkey='date_in_n'></span></i></label>
                    <input type="text" id="date_in" lay-verify="" class="layui-input"  i18nkey='date_in_p' i18nattr='placeholder'>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><i class="fa fa-phone">&nbsp;<span i18nkey='tel_n'></span></i></label>
                    <input type="text" id="tel" lay-verify="" class="layui-input"  i18nkey='tel_p' i18nattr='placeholder'>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><i class="fa fa-envelope-o">&nbsp;<span i18nkey='email_n'></span></i></label>
                    <input type="text" id="email" lay-verify="" class="layui-input"  i18nkey='email_p' i18nattr='placeholder'>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><i class="fa fa-cart-plus">&nbsp;<span i18nkey='caregiver_id_n'></span></i></label>
                    <input type="text" id="caregiver_id" lay-verify="" class="layui-input"  i18nkey='caregiver_id_p' i18nattr='placeholder' readonly>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><i class="fa fa-cart-plus">&nbsp;<span i18nkey='caregiver_name_n'></span></i></label>
                    <input type="text" id="caregiver_name" lay-verify="" class="layui-input"  i18nkey='caregiver_name_p' i18nattr='placeholder' readonly>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><i class="fa fa-cart-plus">&nbsp;<span i18nkey='caregiver_name_chi_n'></span></i></label>
                    <input type="text" id="caregiver_name_chi" lay-verify="" class="layui-input"  i18nkey='caregiver_name_chi_p' i18nattr='placeholder' readonly>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><i class="fa fa-language ">&nbsp;<span i18nkey='lang_n'></span></i></label>
                    <input type="text" id="lang" lay-verify="" class="layui-input"  i18nkey='lang_p' i18nattr='placeholder'>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><i class="fa fa-venus-mars">&nbsp;<span i18nkey='group_n'></span></i></label>
                    <select id="group_slt" lay-verify="" lay-filter='group_slt'>
                        <option value="0" i18nkey='group_0'></option>
                        <option value="1" i18nkey='group_1'></option>
                        <option value="2" i18nkey='group_2'></option>
                        <option value="3" i18nkey='group_3'></option>
                        <option value="4" i18nkey='group_4'></option>
                        <option value="5" i18nkey='group_5'></option>
                    </select>
                    <input type="hidden" id='group_id' value='0'>
                </div>
                
                    
                <div class="layui-form-item">
                    <button id='smbtn1' class="layui-btn subbtn" lay-submit lay-filter="sign"><i
                            class="fa fa-arrow-circle-o-up " style="font-size:1em;">&nbsp;<span i18nkey='submit'></span></i></button>
                </div>
            </form>
           
        </div>
    </div>
</div>
{% endblock %}
{% block thisnav %}"nav-index"{% endblock %}
{% block nextscript %}
<script src="{{ url_for('static',filename='js/md5.js') }}"></script>
<script src="{{ url_for('static',filename='js/funcs.js') }}"></script>
<script>
var _uid = '{{cid}}';
// get data
var _param1 = {
    'id':_uid,
    'secret_key':getCookie('secret_key'),
    'keys':'id,secret_key'
}
var _ep1 = '/api/children/info';
_param1 = sign(_param1);
$.ajax({
    async:false,
    url:_ep1,
    type:'GET',
    data:_param1,
    success:function(data){
        if(data['code']==0 && data['data'].length>0){
            var _line = data['data'][0];
            for(_k in _line){
                var _elem = $('#'+_k);
                if(_elem!=null && _elem.length>0){
                    _elem.attr('value',_line[_k]);
                }
            }
            // change gender_slt
            if('gender' in _line){
                $("#gender_slt").val(_line['gender']);
            }
        }
        else{
            if(data['code']!=0){
                alter('Error! \n'+data['msg']);
            }
        }
    }
});
layui.use('form', function () {
        var form = layui.form;
        // select - Gender 
        form.on('select(gender_slt)', function(data){
            var _gender = data.value;
            $($('#gender_id')[0]).val(_gender);
        });
        // select - Group 
        form.on('select(group_slt)', function(data){
            var _group = data.value;
            $($('#group_id')[0]).val(_group);
        });
        form.on('select(child_information_allow_slt)', function(data){
            var _child_information_allowr = data.value;
            $($('#child_information_allow_id')[0]).val(_child_information_allow);
        });
        //监听提交
        form.on('submit(sign)', function (data) {
            $($('#smbtn1')[0]).attr('disabled',true);
            var flist=['child_no','name','name_chi','gender_id','religion','birth_cert_no','born_day','place_birth','address','date_in','tel','email','group_id','lang'];
            var keys=['id'];
            var params = {
                'id':_uid,
                'secret_key': getCookie('secret_key')
            };
            var flen = flist.length;
            for(var _fi=0; _fi<flen; _fi++){
                var ds = $('#'+flist[_fi]);
                if(ds!=null && ds.length>0){
                    ds = $(ds[0]);
                    if(ds.val()!=null && ds.val().length>0){
                        keys.push(flist[_fi]);
                        params[flist[_fi]] = ds.val();
                        //alert(flist[_fi] + " " + ds.val());
                    }
                }
            }
            keys.push('secret_key');
            params['keys'] = keys.join(',');
            params = sign(params);
            var _ep2 = '/api/children/info';
            $.ajax({
                async:true,
                url:_ep2,
                type:'PUT',
                data:params,
                success:function(data){
                    if(data['code']==0){
                        alert('Alter child successfully!');
                        window.location.href="/childlist";
                    }
                    else{
                        alert('Alter childs failed!\nmsg: '+data['msg']);
                    }
                    $($('#smbtn1')[0]).removeAttr('disabled');
                },
                error:function(xhr,status,error){
                    alert('Error: '+status.toString());
                    $($('#smbtn1')[0]).removeAttr('disabled');
                }
            });
            return false;
        });
        //定义验证
        form.verify(verifiesdef);
    });
</script>
{% endblock %}
