{% extends "base.html" %}
{% block langmeta %}
<meta id="i18n_pagename" content="base-idxparent-parentinfo">{% endblock %}
{% block title %}<title i18nkey='title_cl'></title>{% endblock %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static',filename='css/index.css') }}">
<link rel="stylesheet" href="{{ url_for('static',filename='css/statuslist.css') }}">
{% endblock %}
{% block content %}
<body>
<div class="layui-row articlediv">
    <fieldset class="layui-elem-field">
        <legend i18nkey='qlegend'></legend>
        <span i18nkey='child_search'></span>
        <div class="layui-inline">
            <input class="layui-input" name="keyword" id="myInput" autocomplete="off">
        </div>
        <button class="layui-btn" data-type="reload"><span i18nkey='find'></span></button>
        <label i18nkey='simple_sln'></label>
        <select class="btn btn-default dropdown-toggle"
                onchange="sltChanged(this.options[this.options.selectedIndex].value)">

            <option value="0" i18nkey='all_n'></option>
            <option value="1" i18nkey='simple_n'></option>
            <option value="2" i18nkey='filter_n'></option>
            <option value="3" i18nkey='filter2_n'></option>
            <option value="4" i18nkey='filter3_n'></option>
            <option value="5" i18nkey='filter4_n'></option>
            <option value="6" i18nkey='filter5_n'></option>
        </select>
    </fieldset>

    <div class="tdiv2">
        <div class="tdiv1">
            <table id="statuslist" lay-filter="statuslist" class='datatable' id="store"></table>
        </div>
    </div>
    <div id="pagebar1"></div>


</div>
{% endblock %}
{% block thisnav %}"nav-index"{% endblock %}
{% block nextscript %}
<script src="{{ url_for('static',filename='js/md5.js') }}"></script>
<script src="{{ url_for('static',filename='js/funcs.js') }}"></script>
<script src="{{ url_for('static',filename='js/layui/layui.js') }}"></script>
<script>
//------------------------------------------------------------------------------------------------
//it can delete
    /* 
    layui.use('table', function () {
        var table = layui.table;
        table.render({
            elem: '#statuslist',
            url: '/api/children/infos',
            cols: [[
                {field: 'id', title: $.i18n.prop('id_n'), align: 'center', width: 100},
                //{field: 'child_no', title: $.i18n.prop('child_no_n'), align: 'center', width: 100},
                {field: 'name', title: $.i18n.prop('name_n'), align: 'center', width: 100},
               // {field: 'name_chi', title: $.i18n.prop('name_chi_n'), align: 'center', width: 100}
            ]],
            id: 'myInput',
            page: false,
            height: 600,
            request: {
                pageName: 'page', 
                limitName: 'pageSize', 
                statusName: 'status',  
                statusCode: 200},
        });
        $('.layui-btn').click(function () {
            var inputVal = $('.layui-input').val()
            alert("Hi")
            alert($('.layui-input').val());
            table.reload('myInput', {
                url: '/api/search',
                request: {
                    search_text: inputVal,
                    pageName: 'page', 
                    limitName: 'pageSize'},
                where: {key: {id: inputVal}},
                page: {curr: 1},
            });
        })
    })*/
 //searching function for child------------------------------------------------------------------------------------------------
 $('.layui-btn').click(function () {
        var _ip_ep = '/api/users/search';
        var _params = {
            'page': _page,
            'limit': _limit,
            id: 'store',
            'search_text': $('.layui-input').val(),
            'secret_key': getCookie('secret_key'),
            'keys': 'page,limit,secret_key'
        }
        _params = sign(_params);
        var resdata = null;
        $.ajax({
            async: true,
            url: _ip_ep,
            type: 'GET',
            data: _params,
            success: function (data) {
                if (data['code'] != 0) {
                    alert("Error!\n" + data['msg']);
                    return;
                }
                var dlen = data['data'].length;
                confset_filter7.data = data['data'];
                table.render(confset_filter7);
                confset2.count = data['count'];
                laypage.render(confset2);
            },
            error: function (xhr, status, error) {
                alert('Error: ' + status.toString());
            }
        });
    });''
//------------------------------------------------------------------------------------------------
    var _simple = 0;
    var _page = 1;
    var _limit = 10;

    function sltChanged(val) {
        _simple = val;
        showdata();
    }

    layui.use('element', function () {
        var element = layui.element;
    });
    confset = {//show all list
        elem: '#statuslist',
        id: 'store',
        limit: _limit,
        page: false, 
        limits: [10, 20, 30, 40, 50, 60, 70, 80, 90, 100],
        cols: [
            [ 
                {
                    field: 'id', title: $.i18n.prop('id_n'), fixed: 'left',
                    sort: true
                },
                {
                    field: 'child_no', title: $.i18n.prop('child_no_n'), fixed: 'left',
                    sort: true
                },
                {
                    field: 'name', title: $.i18n.prop('name_n'), fixed: 'left',
                    sort: true
                },
                {
                    field: 'name_chi', title: $.i18n.prop('name_chi_n'), fixed: 'left',
                    sort: true
                },
                {
                    field: 'gender_text', title: $.i18n.prop('gender_n'), fixed: 'left',
                    sort: true
                },
                {
                    field: 'born_day', title: $.i18n.prop('born_day_n'), fixed: 'left',
                    sort: true
                },
                {
                    field: 'place_birth', title: $.i18n.prop('place_birth_n'), fixed: 'left',
                    sort: true
                },
                {
                    field: 'date_in', title: $.i18n.prop('date_in_p'), fixed: 'left',
                    sort: true
                },
                {
                    field: 'tel', title: $.i18n.prop('tel_n'), fixed: 'left',
                    sort: true
                },
                {
                    field: 'caregiver_name', title: $.i18n.prop('caregiver_name_n'), fixed: 'left',
                    sort: true
                },
                {
                    field: 'caregiver_name_chi', title: $.i18n.prop('caregiver_name_chi_n'), fixed: 'left',
                    sort: true
                },
                {
                    field: 'lang', title: $.i18n.prop('lang_n'), fixed: 'left',
                    sort: true
                },
                {
                    field: 'group_text', title: $.i18n.prop('group_id_n'), fixed: 'left',
                    sort: true
                }

            ]
        ]
    }

    confset_simple = {//show simple dates
        elem: '#statuslist',
        limit: _limit,
        page: false, 
        limits: [10, 20, 30, 40, 50, 60, 70, 80, 90, 100],
        cols: [
            [ 
                {
                    field: 'id', title: $.i18n.prop('id_n'), fixed: 'left',
                    sort: true
                },
                {
                    field: 'child_no', title: $.i18n.prop('child_no_n'), fixed: 'left',
                    sort: true
                },
                {
                    field: 'name_chi', title: $.i18n.prop('name_chi_n'), fixed: 'left',
                    sort: true
                },
                {
                    field: 'gender_text', title: $.i18n.prop('gender_n'), fixed: 'left',
                    sort: true
                },
                {
                    field: 'caregiver_name_chi', title: $.i18n.prop('caregiver_name_chi_n'), fixed: 'left',
                    sort: true
                },
                {
                    field: 'group_text', title: $.i18n.prop('group_id_n'), fixed: 'left',
                    sort: true
                }
            ]
        ]
    }
    confset_filter = {//show group classification
        elem: '#statuslist',
        limit: _limit,
        page: false,
        limits: [10, 20, 30, 40, 50, 60, 70, 80, 90, 100],
        cols: [
            [
                {
                    field: 'child_no', title: $.i18n.prop('child_no_n'), fixed: 'left',
                    sort: true

                },
                {
                    field: 'name_chi', title: $.i18n.prop('name_chi_n'), fixed: 'left',
                    sort: true
                },
                {
                    field: 'group_text', title: $.i18n.prop('group_id_n'), fixed: 'left',
                    sort: true
                }
            ]
        ]
    }

    confset_filter2 = {//show language
        elem: '#statuslist',
        limit: _limit,
        page: false,
        limits: [10, 20, 30, 40, 50, 60, 70, 80, 90, 100],
        cols: [
            [
                {
                    field: 'child_no', title: $.i18n.prop('child_no_n'), fixed: 'left',
                    sort: true
                },
                {
                    field: 'name_chi', title: $.i18n.prop('name_chi_n'), fixed: 'left',
                    sort: true
                },
                {
                    field: 'lang', title: $.i18n.prop('lang_n'), fixed: 'left',
                    sort: true
                }
            ]
        ]
    }

    confset_filter3 = {//show religion
        elem: '#statuslist',
        limit: _limit,
        page: false,
        limits: [10, 20, 30, 40, 50, 60, 70, 80, 90, 100],
        cols: [
            [
                {
                    field: 'child_no', title: $.i18n.prop('child_no_n'), fixed: 'left',
                    sort: true
                },
                {
                    field: 'name_chi', title: $.i18n.prop('name_chi_n'), fixed: 'left',
                    sort: true
                },
                {
                    field: 'place_birth', title: $.i18n.prop('place_birth_n'), fixed: 'left',
                    sort: true
                }
            ]
        ]
    }
    confset_filter4 = {//show phone number
        elem: '#statuslist',
        limit: _limit,
        page: false,
        limits: [10, 20, 30, 40, 50, 60, 70, 80, 90, 100],
        cols: [
            [
                {
                    field: 'child_no', title: $.i18n.prop('child_no_n'), fixed: 'left',
                    sort: true

                },
                {
                    field: 'name_chi', title: $.i18n.prop('name_chi_n'), fixed: 'left',
                    sort: true
                },
                {
                    field: 'tel', title: $.i18n.prop('tel_n'), fixed: 'left',
                    sort: true
                }
            ]
        ]
    }
    confset_filter5 = {//show join date
        elem: '#statuslist',
        limit: _limit,
        page: false,
        limits: [10, 20, 30, 40, 50, 60, 70, 80, 90, 100],
        cols: [
            [
                {
                    field: 'child_no', title: $.i18n.prop('child_no_n'), fixed: 'left',
                    sort: true

                },
                {
                    field: 'name_chi', title: $.i18n.prop('name_chi_n'), fixed: 'left',
                    sort: true
                },
                {
                    field: 'date_in', title: $.i18n.prop('date_in_p'), fixed: 'left',
                    sort: true
                }
            ]
        ]
    }
    
    confset_filter7 = {//show for search
        elem: '#statuslist',
        limit: _limit,
        page: false,
        limits: [10, 20, 30, 40, 50, 60, 70, 80, 90, 100],
        cols: [
            [
                {
                    field: 'id', title: $.i18n.prop('id_n'), fixed: 'left',
                    sort: true
                },
                 {
                    field: 'child_no', title: $.i18n.prop('child_no_n'), fixed: 'left',
                    sort: true
                },
                {
                    field: 'name', title: $.i18n.prop('name_n'), fixed: 'left',
                    sort: true
                },
                 {
                    field: 'name_chi', title: $.i18n.prop('name_chi_n'), fixed: 'left',
                    sort: true
                },
                 {
                    field: 'address', title: $.i18n.prop('address_n'), fixed: 'left',
                    sort: true
                },
                 {
                    field: 'tel', title: $.i18n.prop('tel_n'), fixed: 'left',
                    sort: true
                },
                 {
                    field: 'lang', title: $.i18n.prop('lang_n'), fixed: 'left',
                    sort: true
                }
            ]
        ]
    }


    confset2 = {
        elem: 'pagebar1', 
        limit: _limit,
        count: 100,
        prev: $.i18n.prop('prev'),
        next: $.i18n.prop('next'),
        jump: function (obj, first) {
            
            _page = obj.curr;
            _limit = obj.limit;

            
            if (!first) {
                //do something
                showdata();
            }
        }
    }
    var table = null;
    var laypage = null;
    layui.use(['laydate', 'table', 'laypage'], function () {
        table = layui.table;
        table.render(confset);
        var laydate1 = layui.laydate;
        var laydate2 = layui.laydate;
        
        table.on('row(statuslist)', function (obj) {
            // to do
            var id = obj.data['id'];
            window.location.href = '/alterchild?id=' + id.toString();
        });
        laydate1.render({
            elem: '#timese_s',
            type: 'date', //can null
            done: function (value, date, endDate) {
                startt = value;
                if (startt == '') {
                    startt = null;
                }
                showdata();
            }
        });
        laydate2.render({
            elem: '#timese_e',
            type: 'date', //can null
            done: function (value, date, endDate) {
                endt = value;
                if (endt == '') {
                    endt = null;
                }
                showdata();
            }
        });
        $(document).on('click', '#btn-clear_s', function () {
            startt = null;
            showdata();
        });
        $(document).on('click', '#btn-clear_e', function () {
            endt = null;
            showdata();
        });
        laypage = layui.laypage;
        
        laypage.render(confset2);
        showdata();
    });
    //-------------------------------------------------------------------------------
    //it can delete
    function myFunction() {
        
        var input, filter, table, tr, td, i;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("statuslist");
        tr = table.getElementsByTagName("tr");

        
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
                if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
    //-------------------------------------------------------------------------------
    //it can delete
    function showdata() {
        var _ip_ep = '/api/children/infos';
        var _params = {
            'page': _page,
            'limit': _limit,
            id: 'store',
            'secret_key': getCookie('secret_key'),
            'keys': 'page,limit,secret_key'
        }

        _params = sign(_params);
        var resdata = null;
        $.ajax({
            async: true,
            url: _ip_ep,
            type: 'GET',
            data: _params,
            success: function (data) {
                if (data['code'] != 0) {
                    alert("Error!\n" + data['msg']);
                    return;
                }
                var dlen = data['data'].length;
                if (_simple == 1) {//for show all data
                    confset_simple.data = data['data'];
                    table.render(confset_simple);
                } else if (_simple == 2) {//for show simple data
                    confset_filter.data = data['data'];
                    table.render(confset_filter);
                } else if (_simple == 3) {//for show group classification
                    confset_filter2.data = data['data'];
                    table.render(confset_filter2);
                } else if (_simple == 4) {//for show language
                    confset_filter3.data = data['data'];
                    table.render(confset_filter3);
                } else if (_simple == 5) {//for show religion
                    confset_filter4.data = data['data'];
                    table.render(confset_filter4);
                } else if (_simple == 6) {//for show phone number
                    confset_filter5.data = data['data'];
                    table.render(confset_filter5);
                } else {//for show join date
                    confset.data = data['data'];
                    table.render(confset);
                }
                confset2.count = data['count'];
                laypage.render(confset2);
            },
            error: function (xhr, status, error) {
                alert('Error: ' + status.toString());
            }
        });
    }
</script>
{% endblock %}