{% extends "base.html" %}
{% block langmeta %}<meta id="i18n_pagename" content="base-{{role}}">{% endblock %}
{% block title %}<title i18nkey='title_{{role}}'></title>{% endblock %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static',filename='css/index.css') }}">
<link rel="stylesheet" href="{{ url_for('static',filename='css/index_parent.css') }}">
<style>
.statustb tr:nth-child(odd){
    background-color: #bfb;
}
</style>
{% endblock %}

{% block content %}
<!-- 统计信杯 -->
<div class="layui-row articlediv">
    <div class="layui-row">
        <div id="childinfotab" class="statusdiv layui-col-xs12 layui-col-sm8 layui-col-sm-offset2">
            <div class='infotitle'>
                <h2 i18nkey='tabletitle'></h2>
                <br />
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block thisnav %}"nav-index"{% endblock %}
{% block nextscript %}
<script src="{{url_for('static',filename='js/md5.js')}}"></script>
<script src="{{url_for('static',filename='js/funcs.js')}}" ></script>
<script>
    // show status
    function renderStatus(cstatus){
        if(cstatus['code']!=0){
            alert('An error occured: '+cstatus['msg']);
            if(cstatus['code']==21){
                self.location.href = '/login';
            }
            return;
        }
        var _keys = [
            'id','username','alias','name','name_chi'
        ]
        var _div = $('#childinfotab')[0];// table
        var cslen = cstatus['data'].length;
        for(var csi=0; csi<cslen; csi++){
            var _line = cstatus['data'][csi];
            var _tb = $("<table class='layui-table statustb'></table>");
            // tr
            var _tr = $("<tr></tr>");
            var _td = $("<td></td>");
            // sorted keys
            for(var ki=0; ki<_keys.length; ki++){
                if(_line.hasOwnProperty(_keys[ki])){
                    var _tr1 = _tr.clone();
                    var _kn = _keys[ki];
                    if($.i18n.map.hasOwnProperty(_kn+'_n')){
                        _kn = $.i18n.prop(_kn+'_n');
                    }
                    else{
                        console.log("I18N ERROR: Key \""+_kn+'_n'+"\" not exists!");
                    }
                    _tr1.append(_td.clone().text(_kn));
                    _tr1.append(_td.clone().text(_line[_keys[ki]]));
                    _tb.append(_tr1);
                }
            }
            // other keys
            for(var _k in _line){
                if(_keys.indexOf(_k)<0){
                    var _tr1 = _tr.clone();
                    var _kn = _k;
                    if($.i18n.map.hasOwnProperty(_kn+'_n')){
                        _kn = $.i18n.prop(_kn+'_n');
                    }
                    else{
                        console.log("I18N ERROR: Key \""+_kn+'_n'+"\" not exists!");
                    }
                    _tr1.append(_td.clone().text(_kn));
                    _tr1.append(_td.clone().text(_line[_k]));
                    _tb.append(_tr1);
                }
            }
            $(_div).append(_tb);
        }
    }
    $(function(){
        var _ip_uid = '{{uid}}';

        {% if role=='childinfo' %}
        var _ip_ep = '/api/children/info';
        var _params = {
            'secret_key': getCookie('secret_key'),
            'keys': 'secret_key'
        }
        if(_ip_uid){
            _params['id'] = _ip_uid;
            _params['keys'] = 'id,' + _params['keys'];
        }
        {% endif %}

        {% if role=='parentinfo' %}
        var _ip_ep = '/api/users/parent';
        var _params = {
            'secret_key': getCookie('secret_key'),
            'keys': 'secret_key'
        }
        if(_ip_uid){
            _params['id'] = _ip_uid;
            _params['keys'] = 'id,' + _params['keys'];
        }
        {% endif %}

        {% if role=='admininfo' %}
        var _ip_ep = '/api/users/admin';
        var _params = {
            'secret_key': getCookie('secret_key'),
            'keys': 'secret_key'
        }
        if(_ip_uid){
            _params['id'] = _ip_uid;
            _params['keys'] = 'id,' + _params['keys'];
        }
        {% endif %}

        {% if role=='staffinfo' %}
        var _ip_ep = '/api/users/staff';
        var _params = {
            'secret_key': getCookie('secret_key'),
            'keys': 'secret_key'
        }
        if(_ip_uid){
            _params['id'] = _ip_uid;
            _params['keys'] = 'id,' + _params['keys'];
        }
        {% endif %}

        _params = sign(_params);

        $.get(_ip_ep,_params,function(data,status){
            if(status!='success'){alert('error: '+status);}
            else{
                renderStatus(data);
            }
        });

        /*
        $.ajax({
            type: 'GET',
            url: _ep,
            data: _params,
            headers: { 
                "Content-Type": "application/x-www-form-urlencoded"
            },
            success: function(data){
                console.log(data);
            },
            error: function(data){
                alert(2);
            }
        });
        */
        
    });
    
</script>
{% endblock %}