{% extends "base.html" %}
{% block langmeta %}<meta id="i18n_pagename" content="base">{% endblock %}
{% block title %}<title i18nkey='title_pw'></title>{% endblock %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static',filename='css/index.css') }}">
<link rel="stylesheet" href="{{ url_for('static',filename='css/forms.css') }}">
<style>
.statustb tr:nth-child(odd)
#Title {background-image: url('https://na.cx/i/m1azvyp.png'); background-repeat: no-repeat; background-size: 100% 100%;
}
</style>
{% endblock %}

{% block content %}
<div id="Title">
<div class="layui-card layui-col-xs12 layui-col-sm8 layui-col-sm-offset2 mainpanel">
    <div class="layui-card-body">
        <div class="layui-col-xs12 layui-col-sm10 layui-col-sm-offset1 formbox">
            <div class="formtip">
                <h1 i18nkey='title_pw'></h1>
            </div>
            <form class="layui-form" action="passwd" accept-charset="UTF-8" method="POST">
                {% if errormsg %}
                    <div class="layui-form-item">
                        <label class="layui-form-label errorlabel"><i class="layui-icon layui-icon-close-fill"></i>{{errormsg}}</label>
                    </div>
                {% endif %}
                <div class="layui-form-item">
                    <label class="layui-form-label"><i class="fa fa-user-o">&nbsp;<span i18nkey='username_n'></span></i></label>
                    <input type="text" id="username" autocomplete="off" required lay-verify="required_i18n" class="layui-input" i18nkey='username_p' i18nattr='placeholder'>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><i class="fa fa-envelope-o">&nbsp;<span i18nkey='email_n'></span></i></label>
                    <input type="text" id="email" required lay-verify="required_i18n" class="layui-input"  i18nkey='email_p' i18nattr='placeholder'>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><i class="fa fa-key">&nbsp;<span i18nkey='npasswd_n'></span></i></label>
                    <input type="password" id="passwd" autocomplete="off" required lay-verify="required_i18n" class="layui-input" i18nkey='npasswd_p' i18nattr='placeholder'>
                </div>
                <div class="layui-form-item">
                    <button id='smbtn1' class="layui-btn subbtn" lay-submit lay-filter="sendvc"><i
                            class="fa fa-arrow-circle-o-up " style="font-size:1em;">&nbsp;<span i18nkey='sendvc'></span></i></button>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><i class="fa fa-user-o">&nbsp;<span i18nkey='vcode_n'></span></i></label>
                    <input type="text" id="vcode" lay-verify="" required lay-verify="required_i18n" class="layui-input"  i18nkey='vcode_p' i18nattr='placeholder'>
                </div>
                <div class="layui-form-item">
                    <button id='smbtn2' class="layui-btn subbtn" lay-submit lay-filter="setpw"><i
                            class="fa fa-arrow-circle-o-up " style="font-size:1em;">&nbsp;<span i18nkey='setpw'></span></i></button>
                </div>
            </form>
        </div>
    </div>
</div>
</div>
{% endblock %}
{% block thisnav %}"nav-index"{% endblock %}
{% block nextscript %}
<script src="{{ url_for('static',filename='js/md5.js') }}"></script>
<script src="{{ url_for('static',filename='js/funcs.js') }}"></script>
<script>
layui.use('form', function () {
        var form = layui.form;
        //监听提交
        form.on('submit(sendvc)', function (data) {
            $($('#smbtn1')[0]).attr('disabled',true);
            // check username
            var _un = $($('#username')[0]).val();
            var _em = $($('#email')[0]).val();
            if(_un==null || _em==null){
                alert('username and email is needed');
                return false;
            }
            var params = {
                'username':_un,
                'email':_em
            }
            var _ep="/api/passwd/sendVCode";
            $.ajax({
                async:false,
                url:_ep,
                type:'GET',
                data:params,
                success:function(data){
                    if(data['code']==0){
                        alert('VCode sended!');
                        $($('#smbtn1')[0]).removeAttr('disabled');
                    }
                    else{
                        alert('Error!\n'+data['msg']);
                        $($('#smbtn1')[0]).removeAttr('disabled');
                    }
                },
                error:function(xhr,status,error){
                    alert('Error: '+status.toString());
                    $($('#smbtn1')[0]).removeAttr('disabled');
                }
            });
            $($('#smbtn1')[0]).removeAttr('disabled');
            return false;
        });
        form.on('submit(setpw)', function(data){
            var _un = $($('#username')[0]).val();
            var _em = $($('#email')[0]).val();
            var _vc = $($('#vcode')[0]).val();
            if(_un==null || _em==null || _vc==null){
                alert('username, vcode and email is needed');
                return false;
            }
            params={};
            var _pw = $($('#passwd')[0]).val();
            params['passwd_md5'] = hex_md5(_pw);
            params['vcode']=_vc;
            params['username']=_un;
            var _ep2 = '/api/passwd';
            $.ajax({
                async:true,
                url:_ep2,
                type:'PUT',
                data:params,
                success:function(data){
                    if(data['code']==0){
                        alert('Reset Password successfully!');
                        document.location.href="/login";
                    }
                    else{
                        alert('Reset Password failed!\nmsg: '+data['msg']);
                    }
                    $($('#smbtn2')[0]).removeAttr('disabled');
                },
                error:function(xhr,status,error){
                    alert('Error: '+status.toString());
                    $($('#smbtn2')[0]).removeAttr('disabled');
                }
            });
            $($('#smbtn2')[0]).removeAttr('disabled');
            return false;
        });
        //定义验证
        form.verify(verifiesdef);
    });
</script>
{% endblock %}