{% extends "base.html" %}
{% block langmeta %}<meta id="i18n_pagename" content="base">{% endblock %}
{% block title %}<title i18nkey='title_file'></title>{% endblock %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static',filename='css/index.css') }}">
<link rel="stylesheet" href="{{ url_for('static',filename='css/forms.css') }}">
<style>
.statustb tr:nth-child(odd){
    background-color: #bfb;
}
</style>
{% endblock %}

{% block content %}
<div class="layui-card layui-col-xs12 layui-col-sm8 layui-col-sm-offset2 mainpanel">
    <div class="layui-card-body">
        <div class="layui-col-xs12 layui-col-sm10 layui-col-sm-offset1 formbox">
            <div class="formtip">
                <h1 i18nkey='filetitle'></h1>
            </div>
            <form class="layui-form" action="addstaff" accept-charset="UTF-8" method="POST">
                {% if errormsg %}
                    <div class="layui-form-item">
                        <label class="layui-form-label errorlabel"><i class="layui-icon layui-icon-close-fill"></i>{{errormsg}}</label>
                    </div>
                {% endif %}
                <div class="layui-form-item">
                    <label class="layui-form-label"><i class="fa fa-user-o">&nbsp;<span i18nkey='child_no_n'></span></i></label>
                    <input type="text" id="child_no" autocomplete="off" required lay-verify="required_i18n" class="layui-input" i18nkey='child_no_p' i18nattr='placeholder'>
                </div>
                <input type="file" name="upfile" id="upfile" value="" i18nkey='upftips' i18attr='placeholder'>
                <div class="layui-form-item">
                    <button id='submit' class="layui-btn subbtn" lay-submit lay-filter="submit"><span i18nkey='upfile'></span></button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
{% block thisnav %}"nav-index"{% endblock %}
{% block nextscript %}
<script src="{{ url_for('static',filename='js/md5.js') }}"></script>
<script src="{{ url_for('static',filename='js/funcs.js') }}"></script>
<script>
var _fid = '{{fid}}';
layui.use('form', function () {
        var form = layui.form;
        //监听提交
        form.on('submit(submit)', function (data) {
            $($('#submit')[0]).attr('disabled',true);
            var keys=['child_no'];
            var _child_no = $($('#child_no')[0]).val();
            if(_child_no==null){
                alert('File display name is needed');
                return false;
            }
            var params = {
                'child_no':_child_no,
                "service":'App.Passion.UploadFile',
                "file":$("#upfile")[0].files[0],
                'secret_key': getCookie('secret_key')
            };
            keys.push('secret_key');
            params['keys'] = keys.join(',');
            params = sign(params);
            var _ep2 = '/api/file';
            var formData = new FormData();
            formData.append("file",$("#upfile")[0].files[0]);
            //formData.append("service",'App.Passion.UploadFile');
            formData.append('child_no', params['child_no']);
            formData.append('secret_key', params['secret_key']);
            formData.append('keys', params['keys']);
            formData.append('sign', params['sign']);
            $.ajax({
                async:true,
                url:_ep2,
                type:'POST',
                data:formData,
                contentType: false,
                processData: false,
                success:function(data){
                    if(data['code']==0){
                        alert('Upload file successfully!');
                        window.location.href='/filelist';
                    }
                    else{
                        alert('Upload file failed!\nmsg: '+data['msg']);
                    }
                    $($('#submit')[0]).removeAttr('disabled');
                },
                error:function(xhr,status,error){
                    alert('Error: '+status.toString());
                    $($('#submit')[0]).removeAttr('disabled');
                }
            });
            return false;
        });
        //定义验证
        form.verify(verifiesdef);
    });
</script>
{% endblock %}