{% extends "base.html" %}
{% block langmeta %}<meta id="i18n_pagename" content="base-idxadmin">{% endblock %}
{% block title %}<title i18nkey='title_admin'></title>{% endblock %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static',filename='css/index.css') }}">
<link rel="stylesheet" href="{{ url_for('static',filename='css/index_admin.css') }}">
<style>
.statustb tr:nth-child(odd){
    background-color: #bfb;
}
</style>
{% endblock %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Upload_error</title>
</head>
<h1><span i18nkey='upload_error'></span></h1>


{% endblock %}