.u-section-1 {
  background: linear-gradient(#3f87a6, #ebf8e1, #f69d3c);
}

.u-section-1 .u-sheet-1 {
  min-height: 1664px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 80px 418px 0 467px;
}

.u-section-1 .u-list-1 {
  width: 947px;
  min-height: 998px;
  grid-template-columns: calc(33.3333% - 13px) calc(33.3333% - 13px) calc(33.3333% - 13px);
  grid-gap: 20px 20px;
  margin: 90px auto 60px;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 20px;
}

.u-section-1 .u-icon-1 {
  height: 48px;
  width: 48px;
  margin: 0 auto;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 700;
  width: 152px;
  margin: 16px auto 0;
}

.u-section-1 .u-text-3 {
  margin: 24px 2px 0 0;
}

.u-section-1 .u-btn-1 {
  margin: 48px auto 0;
}

.u-section-1 .u-list-item-2 {
  background-size: auto;
}

.u-section-1 .u-container-layout-2 {
  padding: 20px;
}

.u-section-1 .u-icon-2 {
  height: 48px;
  width: 48px;
  margin: 0 auto;
}

.u-section-1 .u-text-4 {
  font-size: 1.25rem;
  font-weight: 700;
  width: 152px;
  margin: 16px auto 0;
}

.u-section-1 .u-text-5 {
  margin: 24px 2px 0 0;
}

.u-section-1 .u-btn-2 {
  margin: 48px auto 0;
}

.u-section-1 .u-list-item-3 {
  background-size: auto;
}

.u-section-1 .u-container-layout-3 {
  padding: 20px;
}

.u-section-1 .u-icon-3 {
  height: 48px;
  width: 48px;
  margin: 0 auto;
}

.u-section-1 .u-text-6 {
  font-size: 1.25rem;
  font-weight: 700;
  width: 152px;
  margin: 16px auto 0;
}

.u-section-1 .u-text-7 {
  margin: 24px 2px 0 0;
}

.u-section-1 .u-btn-3 {
  margin: 48px auto 0;
}

.u-section-1 .u-list-item-4 {
  background-size: auto;
}

.u-section-1 .u-container-layout-4 {
  padding: 20px;
}

.u-section-1 .u-icon-4 {
  height: 48px;
  width: 48px;
  margin: 0 auto;
}

.u-section-1 .u-text-8 {
  font-size: 1.25rem;
  font-weight: 700;
  width: 152px;
  margin: 16px auto 0;
}

.u-section-1 .u-text-9 {
  margin: 24px 2px 0 0;
}

.u-section-1 .u-btn-4 {
  margin: 48px auto 0;
}

.u-section-1 .u-list-item-5 {
  background-size: auto;
}

.u-section-1 .u-container-layout-5 {
  padding: 20px;
}

.u-section-1 .u-icon-5 {
  height: 48px;
  width: 48px;
  margin: 0 auto;
}

.u-section-1 .u-text-10 {
  font-size: 1.25rem;
  font-weight: 700;
  width: 152px;
  margin: 16px auto 0;
}

.u-section-1 .u-text-11 {
  margin: 24px 2px 0 0;
}

.u-section-1 .u-btn-5 {
  margin: 48px auto 0;
}

.u-section-1 .u-list-item-6 {
  background-size: auto;
}

.u-section-1 .u-container-layout-6 {
  padding: 20px;
}

.u-section-1 .u-icon-6 {
  height: 48px;
  width: 48px;
  margin: 0 auto;
}

.u-section-1 .u-text-12 {
  font-size: 1.25rem;
  font-weight: 700;
  width: 152px;
  margin: 16px auto 0;
}

.u-section-1 .u-text-13 {
  margin: 24px 2px 0 0;
}

.u-section-1 .u-btn-6 {
  margin: 48px auto 0;
}

.u-section-1 .u-list-item-7 {
  background-size: auto;
}

.u-section-1 .u-container-layout-7 {
  padding: 20px;
}

.u-section-1 .u-icon-7 {
  height: 48px;
  width: 48px;
  margin: 0 auto;
}

.u-section-1 .u-text-14 {
  font-size: 1.25rem;
  font-weight: 700;
  width: 152px;
  margin: 16px auto 0;
}

.u-section-1 .u-text-15 {
  margin: 24px 2px 0 0;
}

.u-section-1 .u-btn-7 {
  margin: 48px auto 0;
}

.u-section-1 .u-list-item-8 {
  background-size: auto;
}

.u-section-1 .u-container-layout-8 {
  padding: 20px;
}

.u-section-1 .u-icon-8 {
  height: 48px;
  width: 48px;
  margin: 0 auto;
}

.u-section-1 .u-text-16 {
  font-size: 1.25rem;
  font-weight: 700;
  width: 152px;
  margin: 16px auto 0;
}

.u-section-1 .u-text-17 {
  margin: 24px 2px 0 0;
}

.u-section-1 .u-btn-8 {
  margin: 48px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1432px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 367px;
    margin-right: 318px;
    width: 207px;
  }

  .u-section-1 .u-list-1 {
    width: 940px;
    min-height: 823px;
    grid-template-columns: repeat(3, calc(33.333333333333336% - 13px));
    height: auto;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
  }

  .u-section-1 .u-text-7 {
    margin-right: 0;
  }

  .u-section-1 .u-text-9 {
    margin-right: 0;
  }

  .u-section-1 .u-text-11 {
    margin-right: 0;
  }

  .u-section-1 .u-text-13 {
    margin-right: 0;
  }

  .u-section-1 .u-text-15 {
    margin-right: 0;
  }

  .u-section-1 .u-text-17 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2218px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 257px;
    margin-right: 208px;
  }

  .u-section-1 .u-list-1 {
    width: 720px;
    min-height: 1261px;
    grid-template-columns: repeat(2, calc(((100% - 720px) / 2)  + 350px));
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-left: 167px;
    margin-right: 118px;
  }

  .u-section-1 .u-list-1 {
    width: 540px;
    grid-template-columns: 100%;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-left: 67px;
    margin-right: 18px;
  }

  .u-section-1 .u-list-1 {
    width: 340px;
  }
}